@charset "UTF-8";

#layoutAuthentication {
	background-color: #FBE4D0;
}

.btn-primary {
	background-color: #FEAE63;
	width: 90px;
	height: 40px;
	font-size: 15px;
}

.btn-success {
	background-color: #FEAE63;
	width: 90px;
	height: 40px;
	font-size: 15px;
}